extends layout

block content
  nav#navbar
    #brand
      a(href="#") InstaParse
    #buttons
      a#use(href="#") use
      a#download(href="https://github.com/ImpGuard/instaparse/releases/download/0.9.0/instaparse.py" download) download
      a#github(href="https://github.com/ImpGuard/heimer") github
    #download-popup
      p Click to download the script
    #github-popup
      p Leaving to github.com/ImpGuard/heimer
    #use-popup
      p Use instaparse now!

  nav#sidebar
    each section in sections
      .item
        a(href= "#")= section.name
        .subitems(style="display: none")
          each subsectionName in section.subsections
            .subitem
              a(href= "#")= subsectionName
    #section-selector
    #subsection-selector

  #container
    #fakenavbar

    #content
      each section in sections
        .section!= section.content

  #footer

  #editor
    #code-panel
      nav
        #language.tab.dropdown.selected
          .text= languages[0]
          .subitems
            each language, index in languages
              if (index !== 0)
                .subitem= language
              else
                .subitem.selected= language
        #template.borderBox
          select
            option(value="one") Option 1
            option(value="two") Option 2
            option(value="three") Option 3
            option(value="four") Option 4
          .arrow

        #compile.tab Compile
      .content.borderBox



    #output-panel
      nav
        //- .output.tab Main.java
        //- .output.tab Util.java
        //- .output.tab.dropdown.selected
        //-   .text Classes
        //-   .subitems
        //-     .subitem.selected One.java
        //-     .subitem Two.java
        #downloadOutput.tab Download
      .content.borderBox


